.app-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.home {
  position: absolute;
  top: 0;
  z-index: 1;
}

.past-feeds {
  position: absolute;
  top: 0;
  z-index: 2;
}
