.feed-transition-enter {
  opacity: 0;
  transform: scale(0.5);
}
.feed-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.feed-transition-exit {
  opacity: 1;
}
.feed-transition-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms, transform 300ms;
}

.past-feed-transition-enter {
  transform: translateX(100%);
}
.past-feed-transition-enter-active {
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.past-feed-transition-exit {
  transform: translateX(0);
}
.past-feed-transition-exit-active {
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}

.home-transition-enter {
  transform: translateX(100%);
}
.home-transition-enter-active {
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.home-transition-exit {
  transform: scale(1);
}
.home-transition-exit-active {
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}

.login-transition-enter {
  transform: translateX(100%);
}
.login-transition-enter-active {
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.login-transition-exit {
  transform: scale(1);
}
.login-transition-exit-active {
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}

.baby-transition-enter {
  transform: translateX(100%);
}
.baby-transition-enter-active {
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.baby-transition-exit {
  transform: scale(1);
}
.baby-transition-exit-active {
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}

.about-transition-enter {
  transform: translateX(100%);
}
.about-transition-enter-active {
  transform: translateX(0);
  transition: opacity 200ms, transform 200ms;
}
.about-transition-exit {
  transform: scale(1);
}
.about-transition-exit-active {
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}
