.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(215,124,211,1) 0%, rgba(255,255,255,1) 89%);
}
